{% extends "base.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title%} Clientes   {% endblock %} </title>
</head>
<body>

   	{% block content %}

		<div class="container">       


            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron p-3">
                        <h2>Clientes</h2>
                        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modalcliente">Cadastrar</button>
                    </div>
                </div>
            </div>
            
            <!-- Modal cadastro -->

            <div class="modal fade bd-example-modal-lg" id="modalcliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalcliente">Cadastrar cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            
                            <div class="modal-body">
                                <div class="form-group">
                                    <form action="{{url_for('default.cliente')}}" method="POST">
                                        
                                        <div class="form-group" method="POST">
                                            <label>Razao Social:</label>
                                            <input type="text" class="form-control" name="razao_social"/>
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Nome Fantasia:</label>
                                            <input type="text" class="form-control" name="nome_fantasia"/>
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>CNPJ:</label>
                                            <input type="text" class="form-control" name="cnpj" required />
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Inscrição Estadual:</label>
                                            <input type="text" class="form-control" name="inscricao_estadual"/>
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Telefone:</label>
                                            <input type="text" class="form-control" name="telefone" />
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Celular:</label>
                                            <input type="text" class="form-control" name="celular" />
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>e-mail:</label>
                                            <input type="text" class="form-control" name="email" />
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>email para envio NFe:</label>
                                            <input type="text" class="form-control" name="danfe" />
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Site:</label>
                                            <input type="text" class="form-control" name="site" />
                                        </div>
                                        
                                        <div class="form-group" method="POST">
                                            <label>Vendedor:</label>
                                            <input type="text" class="form-control" name="vendedor" />
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Visita:</label>
                                            <input type="text" class="form-control" name="visita" />
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Observações:</label>
                                            <input type="text" class="form-control" name="observacoes"/>
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Caixa Postal:</label>
                                            <input type="text" class="form-control" name="caixa_postal"/>
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Status:</label>
                                            <input type="text" class="form-control" name="status"/>
                                        </div>

                                        <div class="form-group" method="POST">
                                            <label>Pagamentos:</label>
                                            <input type="text" class="form-control" name="pagamentos"/>
                                        </div>
                            
                                </div>
                                        
                                        <button type="submit" value="Salvar" class="btn btn-primary">Salvar</button>
                                        <button type="reset" value="Limpar" class="btn btn-primary">Limpar</button>
                                        
                                    </form>

                                
                                    
                            </div>
			        </div>

                   

			
                </div>
            </div>

        </div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">X</span>
                </button>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



<div class="container">
            <form action="" method="POST">
                <div class="form-group">
                
                    <div class="form-group" method="POST">
                        <input type="text" class="form-control" autofocus="autofocus" name="search_string">
                        <input type="submit" formaction="/search" value="Procurar" class="btn btn-primary" >
                    </div>
                </div>

            </form>
</div>


<table>
    <thead>
        <tr>
            <td>Razao Social</td>
        </tr>
    </thead>

    <tbody>
        {% for row in results %}
        <tr>
            <td> {{row.results}} </td>
        </tr>
    </tbody>

</table>

        {% endfor %}

        
                      
{% for row in listaclientes   %}
    <table width="80%" align="center">

                    <tr>
                        <th>Razão Social:</th>
                        <td colspan="5"> {{row.Razao_social}}</td>
                    </tr>   
                    <tr>
                        <th>Nome Fantasia:</th> <td colspan="5"> {{row.Nome_fantasia}}</td>
                    </tr>  
                    <tr>
                        <th>CNPJ:</th>
                        <td colspan="2"> {{row.Cnpj}} </td>
                        <th>Inscrição Estadual:</th>
                        <td colspan="2"> {{row.Inscricao_estadual}} </td>
                    </tr>

                    <tr>
                        <th>Finalidade:{{row.Enderecos.Finalidade}} {{row.Enderecos.Endereco}}</th>
                        <td colspan="3"></td>
                        <th>Bairro: </th>
                        <td colspan="2">{{row.Enderecos.bairro}}</td>
                    </tr>

                    <tr>
                        <th>Cidade:</th><td>Porto Alegre</td>
                        <th>Estado:</th> <td>RS</td>
                        <th>CEP:</th> <td>910060-440</td>
                    </tr>

                    <tr>
                        <th>Contato: </th>
                        <td></td>
                        <th>Telefone: </th>
                        <td> {{row.Telefone}} </td>
                        <th>Celular: </th>
                        <td> {{row.Celular}}</td>
                    </tr>
                    
                    <tr>
                        <th>e-mail:</th><td>{{row.Email}}</td>
                        <th>Danfe:</th><td> {{row.Danfe}}</td>
                        <th>Site:</th><td>{{row.Site}}</td>
                    </tr>

                    <tr>
                        <th>Vendedor:</th><td> {{row.Vendedor}} </td>
                        <th>visita:</th><td>{{row.Visita}}</td>
                    </tr>

                    <tr>
                        <th>Observações:</th><td> {{row.Observacoes}} </td>
                    </tr>

                    <tr>
                        <th>Caixa Postal:</th><td>{{row.Caixa_postal}}</td>
                        <th>Status:</th> <td> {{row.Status}}</td>
                        <th>Pagamentos:</th> <td>{{row.Pagamentos}}</td>
                    </tr>

<!-- -->

                <tr>
                    <td colspan="6">


                        <a href="{{url_for('default.clientescontatos')}}" class="btn btn-primary btn-sm" >Cadastrar Contatos</a>
                        
                        <a href="{{url_for('default.clientesenderecos')}}" class="btn btn-secondary btn-sm">Cadastrar Endereços</a>
                        
                        <a href="/editcliente{{row.Idcliente}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaleditcliente{{row.Idcliente}}">Editar Cliente</a>
                       
                        <a href="/deletecliente/{{row.Idcliente}}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja apagar')">Apagar</a>
                    </td>
                </tr>

   

    <br>
</table>

<!--MODAL EDIT Cliente -->
<div class="modal fade bd-example-modal-lg" id="modaleditcliente{{row.Idcliente}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaleditcliente">Atualizar cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
                        <div class="modal-body">
                            <div class="form-group">
                                <form action="{{ url_for('default.editcliente') }}" method="POST">

                                    <div class="form-group" method="POST">
                                        <input type="hidden" name="idcliente" value="{{row.Idcliente}}">
                                        <label>Razao Social:</label>
                                        <input type="text" class="form-control" name="razao_social" value="{{row.Razao_social}}"/>
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Nome Fantasia:</label>
                                        <input type="text" class="form-control" name="nome_fantasia" value="{{row.Nome_fantasia}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>CNPJ:</label>
                                        <input type="text" class="form-control" name="cnpj" value="{{row.Cnpj}}" required />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Inscrição Estadual:</label>
                                        <input type="text" class="form-control" name="inscricao_estadual" value="{{row.Inscricao_estadual}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Telefone:</label>
                                        <input type="text" class="form-control" name="telefone" value="{{row.Telefone}}" />
                                    </div>
            
                                         
                                    <div class="form-group" method="POST">
                                        <label>Celular:</label>
                                        <input type="text" class="form-control" name="celular" value="{{row.Celular}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>e-mail:</label>
                                        <input type="text" class="form-control" name="email" value="{{row.Email}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>e-mail para envio NFe:</label>
                                        <input type="text" class="form-control" name="danfe" value="{{row.Danfe}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Site:</label>
                                        <input type="text" class="form-control" name="site" value="{{row.Site}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Vendedor:</label>
                                        <input type="text" class="form-control" name="vendedor" value="{{row.Vendedor}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Visita:</label>
                                        <input type="text" class="form-control" name="visita" value="{{row.Visita}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Observações:</label>
                                        <input type="text" class="form-control"  name="observacoes" value="{{row.Observacoes}}" rows="5">
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Caixa Postal:</label>
                                        <input type="text" class="form-control" name="caixa_postal" value="{{row.Caixa_postal}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Status:</label>
                                        <input type="text" class="form-control" name="status" value="{{row.Status}}" />
                                    </div>
            
                                    <div class="form-group" method="POST">
                                        <label>Pagamentos:</label>
                                        <input type="text" class="form-control" name="pagamentos" value="{{row.Pagamentos}}" />
                                    </div>
            
                            </div>
            
                            <button type="submit" value="Salvar" class="btn btn-primary">Atualizar</button>
                            
            
                            </form>

                        </div>
        </div>
    </div>
</div>


{% endfor %}

{% endblock %}



</body>
</html>